{% load staticfiles %}
<!--DOCTYPE html -->
<html>
  <head>
    <title>{% block head_title %}Autonomous{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-deep_purple.min.css" />
    <style>
      {% block style %}{% endblock style %}
    </style>
  </head>
  <body>
    <!-- Simple header with scrollable tabs. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Autonomous</span>
      </div>
      <!-- Tabs -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Sobre</a>

      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Autonomous</span>
    </div>
    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
        <div class="page-content">
          {% block content %}

          {% endblock content %}
        </div>
      </section>
    </main>
  </div>

  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>

</html>
